/*@import url(https://fonts.googleapis.com/css?family=Duru+Sans);*/

.keyboard {

    width: calc(751px * 1.05);
    height: calc(305px * 1.05);

    margin-top: 50px;
    padding: 15px 10px;

    font-family: "Duru Sans", Arial, sans-serif;

    box-shadow: 0 1px 0 #8C8C8C, 0 2px 0 #828282, 0 1px 0 #7D7D7D, 0 2px 0 #969696, 0 2px 0 #646464, 0 -5px 20px #00000066;

}

.key[data-pressed]:not(.unused), .key:active{
    transform: translateY(4px);
    box-shadow: none;
}

.key {
    user-select: none;
    background: #F9F9F9;
    color: #505050;

    display: block;

    width: calc(40px * 1.05);
    height: calc(40px * 1.05);

    margin: calc(8px * 1.05) calc(5px * 1.05) calc(5px * 1.05) calc(5px * 1.05);
    padding-top: calc(13px * 1.05);

    float: left;
    box-sizing: border-box;
    box-shadow: 0 4px 0 1px #B4B4B4, 0 4px 0 2px #828282;

    text-align: center;

    border: none;
    border-radius: 3px;
    outline: none;
}

.logo {
    padding-top: 3px;
    height: 30px;
    align-self: center;
    font-size: 20px;
}

.key-size-2 {
    width: calc(58px * 1.05);
}

.key-size-3 {
    width: calc(68px * 1.05);
}

.key-size-4 {
    width: calc(79px * 1.05);
}

.key-size-5 {
    width: calc(104px * 1.05);
}

.key-size-6 {
    width: calc(105px * 1.05);
}

.key-size-7 {
    width: calc(291px * 1.05);
}

.caps:before {
    background: #324B3C;

    display: block;

    position: absolute;

    width: calc(5px * 1.05);
    height: calc(5px * 1.05);

    margin-left: 0;
    margin-top: calc(-10px * 1.05);

    content: "";
    border-radius: 100%;
}

.caps-active:before {
    background-color: yellowgreen;
}

.small-type {
    padding-left: 0.4em;

    font-size: 0.5em;
    text-align: left;
    line-height: calc(40px * 1.05);
    vertical-align: bottom;
}

.small-type.right {
    padding-left: 0;
    padding-right: 0.4em;

    text-align: right;
}

.function.small-type {
    padding-right: calc(2px * 1.05);
    padding-top: calc(2px * 1.05);

    font-size: 0.7em;
    text-align: center;
    line-height: calc(18px * 1.05);
}

.unused {
    opacity: 35%;
}

.function.small-type.right {
    padding-top: calc(5px * 1.05);

    font-size: calc(8px * 1.05);
    text-align: right;
}