/*@import url(https://fonts.googleapis.com/css?family=Duru+Sans);*/

.keyboard {
    background: linear-gradient(
            to bottom,
            #DCDCDC 0%,
            #D8D8D8 95%,
            #E2E2E2 100%
    );

    position: absolute;
    left: 50%;
    bottom: 15%;

    width: 751px;
    height: 305px;

    margin-left: -377px;
    margin-top: -150px;
    padding: 15px 10px;

    font-family: "Duru Sans", Arial, sans-serif;

    box-sizing: border-box;
    box-shadow: 0 1px 0 #8C8C8C, 0 2px 0 #828282, 0 3px 0 #7D7D7D, 0 4px 0 #969696, 0 5px 0 #646464, 0 -10px 40px #00000066;

    border-radius: 7px;
    border: 1px solid #A0A0A0;
}

.key[data-pressed]:not(.unused), .key:active{
    transform: translateY(4px);
    box-shadow: none;
}

.key {
    user-select: none;
    background: #F9F9F9;
    color: #505050;

    display: block;

    width: 40px;
    height: 40px;

    margin: 8px 5px 5px 5px;
    padding-top: 13px;

    float: left;
    box-sizing: border-box;
    box-shadow: 0 1px 0 #FAFAFA, 0 2px 0 #FAFAFA, 0 3px 0 #FAFAFA, 0 4px 0 1px #B4B4B4, 0 4px 0 2px #828282;

    text-align: center;

    border: none;
    border-radius: 3px;
    outline: none;
}

.logo {
    padding-top: 3px;
    height: 30px;
    align-self: center;
    font-size: 20px;
}

.key-size-2 {
    width: 58px;
}

.key-size-3 {
    width: 68px;
}

.key-size-4 {
    width: 79px;
}

.key-size-5 {
    width: 104px;
}

.key-size-6 {
    width: 105px;
}

.key-size-7 {
    width: 291px;
}

.caps:before {
    background: #324B3C;

    display: block;

    position: absolute;

    width: 5px;
    height: 5px;

    margin-left: 0;
    margin-top: -10px;

    content: "";
    border-radius: 100%;
}

.caps-active:before {
    background-color: yellowgreen;
}

.small-type {
    padding-left: 0.4em;

    font-size: 0.5em;
    text-align: left;
    line-height: 40px;
    vertical-align: bottom;
}

.small-type.right {
    padding-left: 0;
    padding-right: 0.4em;

    text-align: right;
}

.function.small-type {
    padding-right: 2px;
    padding-top: 2px;

    font-size: 0.7em;
    text-align: center;
    line-height: 18px;
}

.unused {
    opacity: 35%;
}

.function.small-type.right {
    padding-top: 5px;

    font-size: 8px;
    text-align: right;
}