{% extends 'base.html' %}
{% load static %}
{% block title %}Тест{% endblock title %}
{% block content %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const height = window.getComputedStyle(tag).lineHeight
      document.getElementById('container').style.cssText = `height: ${parseFloat(height) * 2}px; overflow: hidden`
    })
  </script>
  <form id="text-form" method="post">
    {% csrf_token %}

{#<div class="">#}
{#    <input id="bordered-radio-1" type="radio" value="" name="bordered-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">#}
{#    <label for="bordered-radio-1" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default radio</label>#}
{#</div>#}
{#<div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">#}
{#    <input checked id="bordered-radio-2" type="radio" value="" name="bordered-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">#}
{#    <label for="bordered-radio-2" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Checked state</label>#}
{#</div>#}
    {{ form.mode }}
    {{ form.timer }}
  </form>
  <h1 id="timer" class="mb-4 text-center text-4xl font-extrabold leading-none tracking-tight
  text-gray-900 md:text-5xl lg:text-6xl dark:text-white"></h1>
  {% include 'includes/print_container.html' %}
{% endblock content %}
{% block scripts %}
  <script src="{% static 'scripts/slicer.js' %}"></script>
  <script src="{% static 'scripts/elements.js' %}"></script>
  <script src="{% static 'scripts/keycaps.js' %}"></script>
  <script src="{% static 'scripts/compare.js' %}"></script>
  <script src="{% static 'scripts/cursor.js' %}"></script>
  <script src="{% static 'scripts/game/compare.js' %}"></script>
  <script src="{% static 'scripts/words.min.js' %}"></script>
  <script>
    setContent(modeField.value)
  </script>
{% endblock scripts %}