{% extends 'base.html' %}
{% load static %}
{% block title %}Тест{% endblock title %}
{% block content %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const height = window.getComputedStyle(tag).lineHeight
      document.getElementById('container').style.cssText = `height: ${parseFloat(height) * 2}px; overflow: hidden`
    })
  </script>
  <form id="text-form" method="post">
    {% csrf_token %}
    {{ form }}
  </form>
  <h1 id="timer" class="mb-4 text-center text-4xl font-extrabold leading-none tracking-tight
  text-gray-900 md:text-5xl lg:text-6xl dark:text-white"></h1>
  {% include 'includes/print_container.html' %}
{% endblock content %}
{% block scripts %}
  <script src="{% static 'scripts/slicer.js' %}"></script>
  <script src="{% static 'scripts/elements.js' %}"></script>
  <script src="{% static 'scripts/keycaps.js' %}"></script>
  <script src="{% static 'scripts/compare.js' %}"></script>
  <script src="{% static 'scripts/cursor.js' %}"></script>
  <script src="{% static 'scripts/game/compare.js' %}"></script>
  <script src="{% static 'scripts/words.min.js' %}"></script>
  <script>
    setContent(modeField.value)
  </script>
{% endblock scripts %}