{% extends 'base.html' %}
{% load static %}
{% block title %}Таблица лидеров{% endblock title %}
{% block content %}
  <div id="results" class="flex flex-wrap items-baseline"></div>
{% endblock content %}
{% block scripts %}
  {{ results30|json_script:"json_results_30" }}
  {{ results60|json_script:"json_results_60" }}
  {{ results120|json_script:"json_results_120" }}
  <script src="{% static 'scripts/vendor/react.development.js' %}"></script>
  <script src="{% static 'scripts/vendor/react-dom.development.js' %}"></script>
  <script src="{% static 'scripts/vendor/babel.min.js' %}"></script>
  <script type="text/babel" src="{% static 'scripts/game/leaderboard.js' %}"></script>
{% endblock scripts %}
