{% extends 'base.html' %}
{% block title %}
  {{ book.name }}
{% endblock title %}
{% block content %}

  <div class="grid grid-cols-2 gap-4">
    <img aria-hidden="true"
         src="{{ book.image.url }}" alt="{{ book.name }}">
    <div class="flex flex-col justify-start p-4">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">
        {{ book.name }}
      </h1>
      <p class="mb-4 font-normal text-gray-700 dark:text-gray-400">
        {{ book.authors.all|join:', ' }}
      </p>
      <h4 class="border-b-2 text-2xl font-bold dark:text-white">{{ book.price }}$</h4>
      <div>
        <button 
          id="dropdownDefaultButton"
          data-dropdown-toggle="dropdown"
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none 
          focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex
          items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Dropdown button
          <svg 
            class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" 
            fill="none" viewBox="0 0 10 6"
          >
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>
      </div>
      <div
        id="dropdown" 
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
      >
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
          <li>
            <button 
              type="button"
              class="text-gray-900 bg-white border border-gray-300 focus:outline-none 
              hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm 
              px-5 py-2.5 me-2 mb-2"
            >
              all
            </button>
          </li>
          <li>
            <button 
              type="button"
              class="text-gray-900 bg-white border border-gray-300 focus:outline-none 
              hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm 
              px-5 py-2.5 me-2 mb-2"
            >
              printing
            </button>
          </li>
          <li>
            <button 
              type="button"
              class="text-gray-900 bg-white border border-gray-300 focus:outline-none 
              hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm 
              px-5 py-2.5 me-2 mb-2"
            >
              reading
            </button>
          </li>
        </ul>
      </div>
      <div class="border-b-2">
        <button 
          type="button"
          class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100
          focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
        >
          buy
        </button>
      </div>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{ book.description }}
      </p>
    </div>
  </div>


  {#  <h2>{{ book.name }}</h2>#}
  {#  <p>{{ book.authors.all|join:", " }}</p>#}
  {#  <p>{{ book.published }}</p>#}
  {#  <a href="{% url 'add_book' book.id %}">Купить</a>#}
{% endblock content %}