{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ book.name }}
{% endblock title %}
{% block content %}
  <style>
      h1, h2, h3 {
        margin-block-start: 0;
      }

      p {
          margin: 0 0 6px 0;
          font-weight: 400;
          line-height: 24px;
          font-family: "Open Sans", sans-serif;
          font-size: 17px;
          text-indent: 35px;
          scroll-snap-stop: normal;
      }

      .p-italic {
          font-style: italic;
      }

      .text-center {
          text-align: center;
      }

      #text-container {
          margin: 0 auto;
          width: 751px;
          height: 320px;
          scrollbar-width: none;
          overflow: auto;
          padding: 0 10px 0 10px;
      }
  </style>
  <form id="text-form" method="post">
    {% csrf_token %}
    {{ form }}
  </form>
  <div id="text-container" contenteditable="true" onselectstart="return false" onCut="return false"
       onpaste="return false;" onCopy="return false" onDrag="return false" onDrop="return false"
       onblur="this.focus()" autofocus>
  </div>
  <script src="{% static 'scripts/slicer.js' %}"></script>
  <script src="{% static 'scripts/elements.js' %}"></script>
  <script>
    let htmlTag

    {% for content in contents %}
      htmlTag = document.createElement(`{{ content.tag }}`)

      {% if content.css %}
        htmlTag.setAttribute('class', '{{ content.css }}')
      {% endif %}

      {% if content.src %}
        htmlTag.setAttribute('src', '{{ content.src.url }}')
      {% endif %}
      htmlTag.nodeName !== 'IMG' ? htmlTag.innerHTML = slicer(`{{ content.text|safe }}`) : null
      textContainer.appendChild(htmlTag)
    {% endfor %}
  </script>
  {% include 'keyboard.html' %}
{% endblock content %}