{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ book.name }}
{% endblock title %}
{% block content %}
  <form id="text-form" method="post">
    {% csrf_token %}
    {{ form }}
  </form>
  <div id="container">
    <div id="text-container" contenteditable="true" onselectstart="return false" autofocus
         onCut="return false" onpaste="return false;" onCopy="return false" onDrag="return false"
         onDrop="return false" onblur="this.focus()">
    </div>
  </div>
  <script src="{% static 'scripts/slicer.js' %}"></script>
  <script src="{% static 'scripts/elements.js' %}"></script>
  <script>
    let htmlTag
    {% for content in contents %}
      htmlTag = document.createElement(`{{ content.tag }}`)

      {% if content.css %}
        htmlTag.setAttribute('class', '{{ content.css }}')
      {% endif %}

      {% if content.src %}
        htmlTag.setAttribute('src', '{{ content.src.url }}')
      {% endif %}
      htmlTag.nodeName !== 'IMG' ? htmlTag.innerHTML = slicer(`{{ content.text|safe }}`) : null
      textContainer.appendChild(htmlTag)
    {% endfor %}
  </script>
  {% include 'book/keyboard.html' %}
{% endblock content %}