{% extends 'base.html' %}
{% block title %}
  book
{% endblock title %}
{% block content %}
  {#  {{ progress }}#}
  {% with position=form.position.value %}
    {{ progress }}
    <div id="content" style="width: max-content; position: relative; padding: 0 100px">
      {% for page in pages %}
        <img src="{{ page.image.url }}" style="height: 90vh" alt="{{ page.image.name }}">
      {% endfor %}
      <form id="page-form" method="post">
        {% csrf_token %}
        {{ form }}
        {% if position > 0 %}
          <button type="submit" class="turn" style="left: 0" onclick="previousPage()"><</button>
        {% endif %}
        {% if position < pages_count %}
          <button type="submit" class="turn" style="right: 0" onclick="nextPage()">></button>
        {% endif %}
      </form>
    </div>
    <style>
      .turn {
          position: absolute;
          height: 100%;
          width: 100px;
          top: 0;
          font-size: 54px;
          background: transparent;
          border: none;
          color: #e5e5e5;
      }
      .turn:hover {
          background: #f5f5f5;
          color: #7D7D7D;
          opacity: 30%;
      }
    </style>
    <script>
      const page = document.getElementById('id_position')

      function nextPage() {
        page.value = parseInt(page.value) + 2
      }

      function previousPage() {
        page.value = parseInt(page.value) - 2
      }
    </script>
  {% endwith %}
{% endblock content %}