{% extends 'base.html' %}
{% load tags %}
{% load static %}

{% block title %}{{ book.book.name }}{% endblock title %}

{% block extra %}
  <link rel="preload" href="{% static 'css/fonts/inglobal.ttf' %}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="preload" href="{% static 'css/fonts/PlayfairDisplay-VariableFont_wght.ttf' %}" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/book_styles.css' %}">
{% endblock extra %}

{% block prescript %}
  <script src="{% static 'scripts/tags.js' %}"></script>
  <script src="{% static 'scripts/jquery-3.7.1.min.js' %}"></script>
  <script>
    const data = [
      {% for p in content %}
        {
          tagName: `{{ p.tag }}`,
          id: `{{ p.id }}`,
          classes: `{{ p.css }}`,
          {% if p.src %}src: `{{ p.src.url }}`,{% endif %}
          {% if p.style %}cssText: `{{ p.style }}`,{% endif %}
          {% if p.text %}
            {% if p.tag == 'img' %}
              alt: `{{ p.text|safe }}`
            {% else %}
              innerHTML: `{{ p.text|safe }}`
            {% endif %}
          {% endif %}
        },
      {% endfor %}
    ]
    const showCover = true
    const BOOK_NAME = '{{ book.book.name }}'
    const AUTHORS = '{{ book.book.get_authors }}'
    const START = `{{ content_count }}`
  </script>
{% endblock prescript %}


{% block content %}
  <form id="read" method="post">
    {% csrf_token %}
  </form>
  <img id="cover" src="{{ book.book.image.url }}">
  <div id="book" class="book">
    <div id="progress_block" class="absolute bg-gray-400 z-10 w-full rounded-full h-1.5 
    dark:bg-gray-700" style="top: -10px">
      <div id="progress" class="bg-blue-600 h-1.5 rounded-full dark:bg-blue-500" 
           style="transition: width 1s ease"></div>
    </div>
  </div>

  <div id="footnotes"></div>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'scripts/page-flip.browser.js' %}"></script>
  <script src="{% static 'scripts/book/reading.js' %}" defer></script>
{% endblock scripts %}
