{% extends 'base.html' %}
{% load tags %}
{% block title %}
  Мои книги
{% endblock title %}
{% block content %}
  <h1>Мои книги</h1>
  {% for book in books %}
    {% with book.book as book %}
      {% include 'includes/book.html' %}
    {% endwith %}
    {% if book.has_read %}
      Прочитана
    {% elif book.page_position == 0 %}
      <a href="{% url 'reading' book.book_id %}">Начать чтение</a>
    {% else %}
      <a href="{% url 'reading' book.book_id %}">
        {% if book.page_position %}
          <span>
            {% get_progress book.pages.count book.page|add:1 %}
          </span>
        {% endif %}
        Продолжить чтение
      </a>
    {% endif %}<br>
    {% if book.has_print %}
      Книга напечатана
    {% elif book.has_contents %}
      <a href="{% url 'printing' book.book_id %}">
        {% if book.print_position %}
          Продолжить печатать
          <span>{{ book.get_print_progress }}%</span>
        {% else %}
          Начать печатать
        {% endif %}
      </a>
    {% endif %}
  {% endfor %}
{% endblock content %}