{% load static %}
<div class="flex justify-end px-4 pt-4">
  <button id="dropdownDividerButton" type="button"
          data-dropdown-toggle="dropdownDivider-{{ content.type__book }}"
          data-dropdown-offset-skidding="-70"
          class="inline-block text-gray-500 dark:text-gray-400 bg-gray-100 dark:hover:bg-gray-700 focus:ring-2 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg p-1.5">
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
         viewBox="0 0 16 3">
      <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
    </svg>
  </button>

  <div id="dropdownDivider-{{ content.type__book }}" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
      <a disabled href="#"
         class="block px-4 py-2 font-medium text-left rtl:text-right bg-gray-100 rounded-b-lg cursor-not-allowed dark:bg-gray-600 dark:text-gray-400">
        Другой абзац
      </a>

      <a href="{% url 'book' content.type__book %}"
         class="block px-4 py-2 font-medium text-left rtl:text-right rounded-b-lg
         hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400">
        Подробнее
      </a>

      <a disabled href="#"
         class="block px-4 py-2 font-medium text-left rtl:text-right bg-gray-100 rounded-b-lg cursor-not-allowed dark:bg-gray-600 dark:text-gray-400">
        Добавить в корзину
      </a>

      <a disabled href="#"
         class="block px-4 py-2 font-medium text-left rtl:text-right bg-gray-100 rounded-b-lg cursor-not-allowed dark:bg-gray-600 dark:text-gray-400">
        Download
      </a>
  </div>
</div>