{% load static %}
asdf
{#<div class="flex justify-end px-4 pt-4">#}
{#  <button#}
{#    type="button"#}
{#    data-dropdown-toggle="dropdown_divider-{{ content.type__book }}"#}
{#    data-dropdown-offset-skidding="-70"#}
{#    class="inline-block text-gray-500 dark:bg-gray-800 dark:text-gray-400 bg-gray-100 dark:hover:bg-gray-700#}
{#    focus:ring-2 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg p-1.5"#}
{#  >#}
{#    <svg aria-hidden="true" fill="currentColor" viewBox="0 0 16 3" class="w-5 h-5">#}
{#      <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>#}
{#    </svg>#}
{#  </button>#}
{##}
{#  <div#}
{#    id="dropdown_divider-{{ content.type__book }}"#}
{#    class="hidden w-44 bg-white divide-y divide-gray-100 rounded-lg z-10 shadow#}
{#    dark:bg-gray-700 dark:divide-gray-600">#}
{#      <a#}
{#        href="#"#}
{#        disabled#}
{#        class="block px-4 py-2 rounded-b-lg bg-gray-100 text-left font-medium rtl:text-right#}
{#        cursor-not-allowed dark:bg-gray-600 dark:text-gray-400"#}
{#      >Другой абзац</a>#}
{##}
{#      <a href="{% url 'book' content.type__book %}"#}
{#         class="block px-4 py-2 rounded-b-lg text-left font-medium rtl:text-right hover:bg-gray-100#}
{#         dark:hover:bg-gray-600 dark:text-gray-400"#}
{#      >Подробнее</a>#}
{##}
{#      <a disabled href="#"#}
{#         class="block px-4 py-2 font-medium text-left rtl:text-right bg-gray-100 rounded-b-lg cursor-not-allowed dark:bg-gray-600 dark:text-gray-400">#}
{#        Добавить в корзину#}
{#      </a>#}
{##}
{#      <a disabled href="#"#}
{#         class="block px-4 py-2 font-medium text-left rtl:text-right bg-gray-100 rounded-b-lg cursor-not-allowed dark:bg-gray-600 dark:text-gray-400">#}
{#        Download#}
{#      </a>#}
{#  </div>#}
{#</div>#}