<script type="text/babel">
  const container = document.getElementById('root')
  const root = ReactDOM.createRoot(container)
  root.render(<Keyboard keys={Array.from(keycaps.entries())}/>)

  function Keyboard({keys = []}) {
    return (
      <figure
        className="keyboard bg-gray-100 mx-auto border border-gray-300 rounded-lg
        dark:bg-gray-600 dark:border-gray-700"
      >
        {keys.map((key, index) => (
          <div
            data-code={key[0]} key={index}
            className={`key ${key[1].class || ''} dark:bg-gray-700 dark:text-gray-300`}
          >{key[1].key}</div>
        ))}
      </figure>
    )
  }
</script>