{% load static %}
<!--
<script src="{% static 'scripts/vendor/react.development.js' %}"></script>
<script src="{% static 'scripts/vendor/react-dom.development.js' %}"></script>
<script src="{% static 'scripts/vendor/babel.min.js' %}"></script>
-->
<script src="{% static 'scripts/slicer.js' %}"></script>
<script src="{% static 'scripts/elements.js' %}"></script>
<script src="{% static 'scripts/keycaps.js' %}"></script>
<script src="{% static 'scripts/compare.js' %}"></script>
<script src="{% static 'scripts/cursor.js' %}"></script>
<script src="{% static 'scripts/book/compare.js' %}"></script>
<script>
  let htmlTag
  let imgUrl
  {% for content in contents %}
    htmlTag = document.createElement(`{{ content.tag|default:'p' }}`)
    {% if content.css %}
      htmlTag.setAttribute('class', '{{ content.css }}')
    {% endif %}
    {% if content.src %}
      htmlTag.setAttribute('src', '{{ content.src.url }}')
    {% endif %}
    htmlTag.nodeName !== 'IMG' ? htmlTag.innerHTML = slicer(`{{ content.text|safe }}`) : null
    textContainer.appendChild(htmlTag)
    {% if request.resolver_match.url_name == 'index' %}
      imgUrl = `{% get_media_prefix %}{{ content.type__book__image|safe }}`
      console.log(imgUrl)
      htmlTag = document.createElement('div')
      htmlTag.style.cssText = `background: url(${imgUrl}); background-size: 200px 300px`
      htmlTag.setAttribute(
        'class',
        'w-[200px] h-[300px] border border-gray-200 rounded-lg shadow-lg ' +
        'dark:bg-gray-800 dark:border-gray-700 card'
      )
      {#htmlTag.style.width = 'min-content'#}
      htmlTag.innerHTML = `{% include 'includes/book_info.html' %}`
      bookInfo.appendChild(htmlTag)
    {% endif %}
  {% endfor %}
</script>