{% extends 'base.html' %}
{% block title %}
  {{ book.name }}
{% endblock title %}
{% block content %}
  <form id="text-form" method="post">
    {% csrf_token %}
    {{ form }}
  </form>
{#  {% if book.is_finished %}#}
{#    <h1>Книга прочитана</h1>#}
{#    <a href="{% url 'user_books' %}">Мои книги</a>#}
{#  {% else %}#}
    <input id="inp" onselectStart="return false" onpaste="return false"
           onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false"
           onblur="this.focus()" autofocus>
    <div id="text-container">{{ book.text|linebreaks }}</div>
    {% include 'keyboard.html' %}
{#  {% endif %}#}
  <script>
    const inp = document.getElementById('inp')
    const textPosition = document.getElementById('id_position')
    const is_finished = document.getElementById('id_is_finished')
    const form = document.getElementById('text-form')
  </script>
{% endblock content %}